<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add User</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('close')"
  [disabled]="isApiRunning">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <user-form #userFormComponent [user]="user">

  </user-form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="saveUser()" [disabled]="isApiRunning">save</button>
  <button type="button" class="btn btn-outline-dark" (click)="closeModal('close')" [disabled]="isApiRunning">close</button>
</div>
